<div class="mb-2 d-flex justify-content-center align-items-center gap-2">

  <label for="categorySelect" class="form-label">Categoría:</label>
  <select id="categorySelect" class="form-select form-select-sm w-auto" [(ngModel)]="selectedCategoryId" (change)="onFilterChange()">
    <option [value]="''">Todas</option>

    @for(category of categories; track category.id) {
      <option [value]="category.id">{{ category.title }}</option>
    }
  </select>

  <label for="searchInput" class="form-label">Título:</label>
  
  <input id="searchInput" type="text" class="form-control form-control-sm w-auto"
         [(ngModel)]="searchTitle" (input)="onFilterChange()" placeholder="Buscar por título...">
</div>
