
    <div class="card shadow-lg">
         <figure>
        <img [src]="miPost.image" class="card-img-top" [alt]="miPost.title">
    </figure>
        <div class="card-body">
            <h5 class="card-title">Título:{{miPost.title}}</h5>
            <h6 class="text-muted"><small> Autor✍️: {{miPost.author}}</small></h6>
            
            <span class="">Categoría: {{miPost.category.title}}</span>
            <button class="btn btn-sm btn-danger" [routerLink]="['/post', miPost._id]">Ver post</button>
        </div>
    </div>
