<section class="container my-5">
    <div class="card shadow-lg border-0">
      <div class="row g-0 align-items-center">
        
     
        <div class="col-12 col-md-5 text-center p-4">
          <figure>
            <img class="img-fluid rounded-circle border border-3 border-primary" 
                 [src]="post.image" 
                 [alt]="post.title" 
                 style="max-width: 250px; height: 250px; object-fit: cover;">
          </figure>
        </div>
  
      
        <div class="col-12 col-md-7 p-5">
          <h1 class="fw-bold text-primary">{{ post.title }}</h1>
          <p class="text-muted fst-italic">Publicado el: {{ post.publication}}</p>
          <p class="lead">{{ post.text }}</p>
          <p><strong>Autor:</strong> ✍️ {{ post.author }}</p>
          <span class="badge bg-info px-3 py-2 fs-6">Categoría: {{ post.category.title }}</span>
          
         
          <div class="mt-4">
            <button class="btn btn-outline-danger btn-lg px-4" [routerLink]="['/home']"> Volver a Posts
           
            </button>
          </div>
        </div>
  
      </div>
    </div>
  </section>
  