<div class="d-flex flex-column justify-content-center align-items-center text-center mt-4">
    <h3>Bienvenid&#64; a la mejor web de Blogs</h3>
    <p>Nos encanta que estés aquí. En este espacio, puedes compartir tus ideas, experiencias y conocimientos con una comunidad apasionada por la escritura. 📖✍️  
    ¿Tienes algo que decir? ¡Este es el lugar perfecto para publicar tu blog y conectar con otros creadores! </p>
</div>
<div class="container mt-4">
    <section  class="row">
    @for( post of arrPosts; track post._id ){
        <article class="col-12 col-md-6 col-lg-4 mb-4">
    <app-post-card [miPost]="post"></app-post-card>
        </article>
}@empty {
    <h3>No hay posts</h3>
    }
</section>
  </div>


    <!--<div class="row g-4"> 
        
        
          <div class="col-12 col-md-6 col-lg-4">
            <div class="card shadow-lg">

                <img src="https://source.unsplash.com/500x300/?food" class="card-img-top" alt="Imagen del post">
                <div class="card-body">
                    <h5 class="card-title">Recetas Fáciles y Deliciosas</h5>
                    <p class="text-muted"><small>📅 20/02/2024 | ✍️ Laura Gómez</small></p>
                    <p class="card-text">Aprende a cocinar platos increíbles en menos de 30 minutos.</p>
                    <span class="badge bg-danger">Gastronomía</span>
                </div>
            </div>
        </div>

       Post 5 -->
       
    
      
