<div class="d-flex flex-column justify-content-center align-items-center text-center mt-4">
    <h3>Bienvenid&#64; a la mejor web de Blogs</h3>
    <p>Nos encanta que estés aquí. En este espacio, puedes compartir tus ideas, experiencias y conocimientos con una comunidad apasionada por la escritura. 📖✍️  
    ¿Tienes algo que decir? ¡Este es el lugar perfecto para publicar tu blog y conectar con otros creadores! </p>
</div>

<div>
    <app-search-post (filtersChanged)="updateFilters($event)"></app-search-post>

    <section class="row">
      @for(post of filteredPosts; track post._id) {
        <article class="col-12 col-md-6 col-lg-4 mb-4">
          <app-post-card [miPost]="post"></app-post-card>
        </article>
      } @empty {
        <h3>No hay posts</h3>
      }
    </section>
    